{% extends 'base.html' %}

{% block title %}Register{% endblock %}


{% block content %}
  <form method="post">
    <div class="container">
      <h1>Create your account</h1>
  
      <div class='input content-length'>
        <label for="username">Username</label>
        <div class='container-flex'>
          <input type="text" name="username" id="username" class="footer-input" maxlength="50" required>
          <p class="footer-para"></p>
        </div>
      </div>
  
      <div class='input content-length'>
        <label for="password">Password</label>
        <div class='container-flex'>
          <input type="password" name="password" id="password" class="footer-input" maxlength="50" required>
          <p class="footer-para"></p>
        </div>
      </div>
  
      <button type="submit">Sign Up</button>
    </div>
  </form>
{% endblock %}